<section class="footer">
    <h1 class="footer-title">Contact</h1>
    <div class="form-container">
        <img src="assets/form-img.png" alt="No hay foto" class="form-img">
        <form class="contact-form">
            <input type="text" placeholder="Your name">
            <input type="email" placeholder="Your email">
            <textarea placeholder="Your message"></textarea>
            <input type="submit" value="send">
        </form>
    </div>
    <p class="copyright">
        Copyright &copy; Hades el lobo
    </p>
</section>